<section>
    <div class="container">
        <div class="todolist">
            <h2>Shopp-list</h2>
            <img src="src/images/list.png" class="list">
        </div>
        <div class="toDoList_action">
            <form id="addToDataBase">
                    <table class="list_inputs">
                        <th>Nazwa produktu</th>
                        <th>Rodzaj</th>
                        <th>Ilość</th>
                        <tr>
                            <td><input class="addText" type="text" id="note" name="note" placeholder="Napisz produkt" required></td>
                            <td>
                                <select id="categories" name="categories" required>
                                    <option value="Pieczywo">Pieczywo</option>
                                    <option value="Owoce">Owoce</option>
                                    <option value="Warzywa">Warzywa</option>
                                    <option value="Słodycze">Słodycze</option>
                                    <option value="Napoje">Napoje</option>
                                    <option value="Mięso">Mięso</option>
                                    <option value="Produkty mleczne">Produkty mleczne</option>
                                    <option value="Środki czystości">Środki czystości</option>
                                </select> 
                            </td>
                            <td><input class="pieces" id="pieces" name="pieces" type="number" placeholder="Ilość sztuk" required></td>
                        </tr>
                    </table>
                <button type="submit" name="press" value="addNote" id="add" class="add" onclick="fetchAjaxFunction(event,'addToDataBase');">Dodaj</button>
            </form>
        </div>
    </div>
        <div class="display">
            <ul id="list-container">
                {% for row in data %}
                <table class="table_display">
                    <tr>
                        <td class="show_id">{{ row.id }}</td>
                        <td class="row_note"><li class="note_item">{{ row.note }}</li></td>
                        <td class="row_category"><li>{{ row.category }}</li></td>
                        <td class="row_pieces"><li>{{ row.pieces }}</li></td>
                        <td><a href="?modal_id={{ row.id }}" type="button" class="btn btn-light">Edytuj</a></td>
                        <form id="deleteWithDataBase">
                            <input type="hidden" name="id" value="{{ row.id }}">
                            <td><button type="submit" id="delete" name="press" value="deleteNote" class="delete" onclick="fetchAjaxFunction(event,'deleteWithDataBase');">&times;</button></td>
                        </form>
                    </tr>
                </table>
                {% endfor %}
            </ul>
        </div>
</section>
